p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
}

[href] {
  text-decoration: none;
}

.list-none {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-text-color: #212121;
  --main-focus-text-blue: #2196f3;
  --main-white-color: #ffffff;
  --color-contact: #757575;
  --color-footer: #2f303a;
  --color-bg-btn: #f5f4fa;
  --icons-main: rgba(175, 177, 184, 1);
}

.bg-main {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--color-footer);
  color: var(--main-white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-mob.jpg);
  max-width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .bg-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-tab.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bg-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .bg-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main-2x.jpg);
  }
}
.bg-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo, .logo__footer, .logo__header {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > span, .logo__footer > span, .logo__header > span {
  color: var(--main-focus-text-blue);
}
.logo__header {
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}
.logo__footer {
  color: var(--main-white-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header > .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.menu-mob__btn {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-mob__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-mob__btn {
    display: none;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding-left: 40px;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 48px;
  overflow-y: auto;
}

.mob-menu__iteam:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.mob-menu__link:hover, .mob-menu__linkfocus {
  color: var(--main-focus-text-blue);
}

.mob-menu-contacts {
  margin-bottom: 64px;
}

.mob-menu-contacts__iteam:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}

.mob-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}

.mob-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}

.mob-menu-socials {
  display: flex;
}

.mob-menu-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.menu-mob__close {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  margin-bottom: 8px;
}
.menu-mob__close:hover, .menu-mob__close:focus {
  fill: var(--main-focus-text-blue);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
.navigation__link, .navigation__link.current {
  display: block;
  position: relative;
}
.navigation__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-focus-text-blue);
  border-radius: 2px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .navigation__link.current::after {
    bottom: -28px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link.current::after {
    bottom: -32px;
  }
}
.navigation__iteam:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: var(--main-text-color);
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: var(--main-focus-text-blue);
}
.navigation__link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-focus-text-blue);
}

.button, .subscribe-button {
  width: 200px;
  height: 50px;
  background-color: var(--main-focus-text-blue);
  color: var(--main-white-color);
  border-color: var(--main-focus-text-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 12px;
}

.contacts--margin {
  margin: -10px;
}

@media screen and (min-width: 1200px) {
  .contacts__list--margin:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list--margin:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list--margin:not(:last-child) {
    margin-bottom: 0;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}
.contacts__link {
  font-style: normal;
  color: var(--color-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: var(--main-focus-text-blue);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
}

.icons-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icons-tel {
  margin-right: 10px;
  fill: currentColor;
}

.adress__links {
  display: block;
  color: var(--main-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__links:hover, .adress__links:focus {
  color: var(--main-focus-text-blue);
}

.adress__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus, .adress__link:active {
  color: var(--main-focus-text-blue);
}

.adress {
  margin: -8px;
}

.adress__iteam {
  margin: 8px;
}

.hero-tittle {
  width: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero-tittle {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 700px;
  }
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-color: transparent;
  background: var(--color-bg-btn);
  color: var(--main-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  width: auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:active {
  color: var(--main-white-color);
  background-color: var(--main-focus-text-blue);
  border-radius: 4px;
  font-family: inherit;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits-example {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .benefits-example {
    padding: 94px 0;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits h4 {
    text-align: left;
  }
}
.benefits p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: calc((100% - 90px) / 4);
  }
}

.benefits-list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--color-bg-btn);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.examples {
  display: none;
  padding-bottom: 94px;
}
.examples__img {
  display: block;
  width: 100%;
  height: auto;
}
.examples__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.examples__list {
  display: flex;
}
.examples__iteams:not(:last-child) {
  margin-right: 30px;
}
.examples__iteams {
  position: relative;
}
.examples__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  width: 100%;
  height: 70px;
  color: var(--main-white-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .examples {
    display: block;
  }
}

.team {
  background-color: var(--color-bg-btn);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__items {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 90px) / 4);
  }
}
.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-bottom: 16px;
}
.team__discraption {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__iteam {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__iteam:last-child {
  margin-right: 0px;
}
.socials__link {
  width: 100%;
  height: 100%;
  background-color: var(--main-white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--main-focus-text-blue);
}
.socials__link:hover .socials__icons {
  fill: var(--main-white-color);
}
.socials__icons {
  fill: var(--icons-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .regular-clients {
    padding: 94px 0;
  }
}

.regular-customers-tittle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .regular-customers-tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.regular-customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-list {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers-list {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    width: calc((100% - 150px) / 6);
  }
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover, .customers-list-link:focus {
  border-color: var(--main-focus-text-blue);
}
.customers-list-link:hover .custumers-list-icon, .customers-list-link:focus .custumers-list-icon {
  fill: var(--main-focus-text-blue);
}

.custumers-list-icon {
  fill: var(--icons-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--color-footer);
  color: var(--main-white-color);
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

.footer-flex {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    margin-bottom: 0px;
    text-align: left;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  transform: rotate(45deg);
}

.modal {
  width: 90%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 300ms linear;
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close-btn:hover, .modal__close-btn:focus, .modal__close-btn:active {
  fill: var(--main-focus-text-blue);
}
.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
  text-align: center;
}
.modal__filling-wrap {
  margin-bottom: 4px;
}
.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  display: block;
  color: var(--color-contact);
}
.modal__filling {
  margin-bottom: 10px;
}
.modal__filling:focus .modal-filling-icon {
  fill: var(--main-focus-text-blue);
  border-color: var(--main-focus-text-blue);
}
.modal__wrap {
  position: relative;
}
.modal__wrap-checkbox {
  margin-bottom: 30px;
}

.modal-filling-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-filling-input:hover {
  cursor: pointer;
}
.modal-filling-input:focus, .modal-filling-input:active {
  cursor: text;
}
.modal-filling-input:focus {
  border-color: var(--main-focus-text-blue);
}
.modal-filling-input:focus + .modal-filling-icon {
  fill: var(--main-focus-text-blue);
}

.modal-filling-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-filling-comment:hover {
  cursor: pointer;
}
.modal-filling-comment:focus {
  border-color: var(--main-focus-text-blue);
  cursor: text;
}

.terms-tittle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .terms-tittle {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.terms-tittle::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
  border-radius: 2px;
}

.modal-filling-checkbox:checked + .terms-tittle::before {
  background-color: var(--main-focus-text-blue);
  background-image: url(../images/confirm.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-filling-link-terms {
  color: var(--main-focus-text-blue);
  text-decoration: underline;
  margin-left: 4px;
}

.modal-filling-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-filling-flex-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.samples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .samples__iteam {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .samples__iteam {
    width: calc((100% - 60px) / 3);
  }
}
.samples__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.samples__link:hover, .samples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.samples__link:hover .samples__cover {
  transform: translateY(0);
}
.samples__wrap {
  position: relative;
  overflow: hidden;
}
.samples__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.samples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.samples__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}
.samples__discraption {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu-btn {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-block {
    margin-left: auto;
  }
}

.subscribe-block__tittle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .subscribe-block__tittle {
    text-align: left;
  }
}

.subscribe-button__icon {
  margin-left: 10px;
}

.subscribe-input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-footer);
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: inline-flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}
.subscribe-input:hover {
  cursor: pointer;
}
.subscribe-input:focus, .subscribe-input:active {
  cursor: text;
}

@media screen and (min-width: 1200px) {
  .subscribe-block__label {
    display: flex;
  }
}

.footer-contacts--margin {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts--margin {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-contacts__text--margin {
  margin-bottom: 20px;
}

.footer-contacts__text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__text {
    text-align: left;
  }
}
.footer-contacts__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-contacts__item {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.footer-contacts__icon {
  fill: var(--main-white-color);
}
.footer-contacts__soclink {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__soclink:hover, .footer-contacts__soclink:focus {
  background-color: var(--main-focus-text-blue);
}
.footer-contacts__soclink:hover .footer-contacts__icon {
  fill: var(--main-white-color);
}/*# sourceMappingURL=main.css.map */