.benefits {
  display: flex;
  p {
    @include fonts(null, 14px, 1.71, 0.03em);
    color: var(--color-contact);
    width: 270px;
    height: 75px;
  }
  h4 {
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    width: 270px;
  }
  li:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-tittle {
  margin-bottom: 10px;
}
.benefits-example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--color-bg-btn);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}
@each $icons in antenna, clock, diagram, astronaut {
  .icon-#{$icons}::before {
    background-image: url("../images/#{$icons}.svg");
  }
}
