.benefits-example {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  h4 {
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    @include tablet {
      text-align: left;
    }
  }
  p {
    @include fonts(400, 14px, 1.71, 0.03em);
    color: var(--color-contact);
  }
}
.benefits-list {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.benefits-list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--color-bg-btn);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}
@each $icons in antenna, clock, diagram, astronaut {
  .icon-#{$icons}::before {
    background-image: url("../images/#{$icons}.svg");
  }
}
