.bg-main {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--color-footer);
  color: var(--main-white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-main-mob.jpg);
  max-width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-main-mob-2x.jpg);
  }
  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-main-tab.jpg);
    max-width: 768px;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-main-tab-2x.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-main.jpg);
    max-width: 1600px;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-main-2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
