.footer {
  background-color: var(--color-footer);
  color: var(--main-white-color);
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  & .container {
    @include tablet {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include desktop {
      display: flex;
    }
  }
}

.footer-flex {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 0px;
    text-align: left;
  }
}
