.menu-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }
  }
}

// .menu-btn {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
//   margin-right: auto;
//   margin-left: auto;
//   &__iteam:not(:last-child) {
//     margin-right: 8px;
//   }
// }
