.regular-customers {
  display: flex;
  justify-content: space-between;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--main-focus-text-blue);
  }
  &:hover .custumers-list-icon,
  &:focus .custumers-list-icon {
    fill: var(--main-focus-text-blue);
  }
}
.custumers-list-icon {
  fill: var(--icons-main);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-tittle {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  @include fonts(700, 36px, 1.16, 0.03em);
}
.regular-clients {
  padding: 94px 0px;
}
