.team {
  background-color: var(--color-bg-btn);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @include desktop {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  &__title {
    @include fonts(700, 28px, 1.17, 0.03em);
    margin-bottom: 30px;
    @include desktop {
      @include fonts(700, 36px, 1.16, 0.03em);
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__items {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }
  &__names {
    @include fonts(500, 16px, 1.18, 0.03em);
    margin-bottom: 10px;
  }
  &__position {
    @include fonts(400, 16px, 1.87, 0.03em);
    color: var(--color-contact);
    margin-bottom: 16px;
  }
  &__discraption {
    padding-top: 30px;
    padding-bottom: 24px;
    background-color: var(--main-white-color);
    border-radius: 0px 0px 4px 4px;
  }
}
