:root {
  --main-text-color: #212121;
  --main-focus-text-blue: #2196f3;
  --main-white-color: #ffffff;
  --color-contact: #757575;
  --color-footer: #2f303a;
  --color-bg-btn: #f5f4fa;
  --icons-main: rgba(175, 177, 184, 1);
}
